.date-error fieldset {
  border-color: #a61d24;
}
.select-error fieldset {
  border-color: #a61d24;
}
.MuiOutlinedvid-notchedOutline {
  border: solid 1px #72727245;
  border-radius: 5px;
  padding: 0 8px;
}
.select-topic fieldset {
  top: 0;
}
.select-topic fieldset legend {
  display: none;
}
.MuiTextareaAutosize-root {
  padding: 16px 24px;
  background: #f8f9ffcc;
  font-family: inherit;
  border: 6px solid #94c4f1;
  transition: box-shadow 1s, border-color 1s,background 1s;
  box-shadow: 0px -1px 0px 0px #85bde4;
  border-radius: 40px;
}

.MuiTextareaAutosize-root:hover {
  border-color: #85BDE4;
  /* box-shadow: 0px -1px 0px 3px #85bde4 inset; */
}
.MuiTextareaAutosize-root:focus-visible {
  border: none;
  outline : none
}

.MuiTextareaAutosize-root:focus {
  background: #f8f9ff;
  border: 6px solid #94c4f1;
  box-shadow: 0px 0px 3px 2px #97e7ff inset;
}
