:root {
  --blue: #a1d4f8;
  --white: #eaeefd;
  --black: #2c302e;
}
::selection {
  background-color: #ef88f8ce;
}
.bg-blue {
  background-color: var(--blue);
}
.bg-white {
  background-color: var(--white);
}
.header {
  overflow: hidden;
  position: relative;
}
.fullscreen-container2 {
  position: static;
  top: 0;
  left: 0;
  height: 30vh;
  width: 30vw;
}
/* Stretch Background Video */
.fullscreen-container {
  position: static;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.fullscreen-image {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fullscreen-title {
  z-index: 5;
  position: absolute;
  top: 40%;
  width: 100%;
}
.navigation-menu a {
  padding: 3px 7px;
  text-shadow: 1px 1px 3px #00000038;
}
.elevation-appbar {
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 12%);
  background: #ffffff2b;
  transition: box-shadow 1s, background 1s;
}
.elevation-appbar .MuiToolbar-root {
  transition: padding-top 0.5s, padding-bottom 0.5s;
  padding-top: 2px;
  padding-bottom: 2px;
}
@media screen and (max-aspect-ratio: 1280/540) {
  .fullscreen-image {
    height: 100%;
  }
}

@media screen and (min-aspect-ratio: 1280/540) {
  .fullscreen-image {
    width: 100%;
  }
}
.bg-wave {
  display: block;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center, 50%, 50%;
}

.MuiTextareaAutosize-root {
  padding: 16px 24px;
  background: #f8f9ffcc;
  font-family: inherit;
  border: 6px solid #94c4f1;
  transition: box-shadow 1s, border-color 1s, background 1s;
  box-shadow: 0px -1px 0px 0px #85bde4;
  border-radius: 40px;
}

.MuiTextareaAutosize-root:hover {
  border-color: #85bde4;
  /* box-shadow: 0px -1px 0px 3px #85bde4 inset; */
}
.MuiTextareaAutosize-root:focus-visible {
  border: none;
  outline: none;
}

.MuiTextareaAutosize-root:focus {
  background: #f8f9ff;
  border: 6px solid #94c4f1;
  box-shadow: 0px 0px 3px 2px #97e7ff inset;
}
.footer {
  background: #2c302e;
  color: #bdc3d4;
  text-shadow: 1px 1px #252628;
}
.footer p {
  color: #bdc3d4;
  text-shadow: 1px 1px #252628;
}
.footer label {
  color: #bdc3d4;
  text-shadow: 1px 1px #252628;
}
.footer label {
  color: #bdc3d4;
  text-shadow: 1px 1px #252628;
}
.footer .MuiOutlinedInput-root {
  background: #dfedf3;
  border: 6px solid #505d65;
  box-shadow: 0px -1px 0px 0px #2c302e;
}
.footer .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  box-shadow: 0px -1px 0px 5px #475258;
}
.footer .MuiOutlinedInput-root.Mui-focused {
  background: #e0ebf0;
  box-shadow: 0px 0px 3px 2px #b6bec2 inset;
}
.footer .footer-links {
  list-style: none;
  padding-left: 10px;
}

.footer .footer-links li {
  padding: 6px 0;
}
.footer .footer-links a:link,
.footer .footer-links a:visited,
.team.social-link svg path {
  display: flex;
  align-items: center;
  color: #c9cedd;
  fill: #c9cedd;
  text-decoration: none;
}
.footer .footer-links a:hover,
.footer .footer-links a:focus,
.footer .footer-links a:hover svg path {
  color: #adb2c2;
  fill: #adb2c2;
}

.footer .footer-links.social-link {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.footer .footer-links.social-link span {
  padding-left: 10px;
  padding-top: 2px;
}
.footer .footer-links.social-link li {
  padding: 0px 15px;
  display: inline-block;
}

.footer .copyright {
  border-top: 1px solid #eaeefd;
}
.footer .copyright .copyright-links {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.footer .copyright .copyright-links a:link,
.footer .copyright .copyright-links a:visited {
  color: #c9cedd;
  padding: 0 10px;
}

.team.social-link a:link,
.team.social-link a:visited,
.team.social-link svg path {
  display: flex;
  align-items: center;
  color: #2c302e;
  fill: #2c302e;
  text-decoration: none;
  transition: fill 0.5s, color 0.5s;
}
.team.social-link a:hover,
.team.social-link a:focus,
.team.social-link a:hover svg path {
  transition: fill 0.5s, color 0.5s;
  display: flex;
  align-items: center;
  color: #424242;
  fill: #424242;
  text-decoration: none;
}
.team.social-link {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.MuiTabs-indicator {
  width: 6px;
  background-color: #a1d4f8;
  border-radius: 5px;
  margin-right: 5px;
}
.MuiTimeline-root .MuiSvgIcon-root {
  fill: #2c302ec7;
}
.MuiTimeline-root .MuiTimelineDot-root {
  background: linear-gradient(180deg, #ceebff, #a1d4f8);
  box-shadow: 0px 10px 15px -6px #3683bb4d, 0px 4px 0px 0px #ffffff33 inset;
  position: relative;
  text-shadow: 1px 1px #9ccced;
  background-color: #515754;
  border-width: 0px;
  padding: 20px;
}
.MuiTimeline-root .MuiTimelineConnector-root {
  width: 3px;
  background-color: #6cb6fe;
}
.MuiTimeline-root .MuiTimelineItem-root {
  /* min-height: 170px; */
}
.pricing-box {
  border-radius: 30px;
  border: 5px solid #92d6fc;
  background: linear-gradient(2deg, #4873bb -11.85%, #bad4ff -11.84%, #fff 111.78%);
  padding-bottom: 0px;
  position: relative;
  padding-top: 0;
}
.pricing-box .bg-wave {
  width: 100%;
  border-radius: 26px 24px 0 0;
}
.pricing-box .price-title {
  /* width: 70%; */
  /* padding-bottom: 80px; */
  border-bottom: 1px solid var(--black);
}
.pricing-box .feature {
  display: flex;
  align-items: center;
}

.pricing-box .feature svg {
  margin: 10px;
}
.plan-box {
  border-radius: 30px;
  border: 5px solid #bed5ff;
  background: linear-gradient(2deg, #4873bb -11.85%, #bad4ff -11.84%, #fff 111.78%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  max-width: 350px;
  margin: 15px auto;
}
.feature-table {
  width: 100%;
}
.feature-table tr,
.feature-table th {
  border: none;
}

.feature-table tr:nth-child(even) {
  background-color: #ffffff36;
  border: none;
}
.faq {
  width: 100%;
}
.faq .question {
  border-top: 1px solid #2c302e73;
  padding: 16px;
}
.faq .answer {
  padding: 16px;
}
.category {
  display: flex;
  flex-wrap: wrap;
}
.category a:link,
.category a:visited {
  padding: 10px 25px;
  margin: 5px;
  outline: 2px solid;
  outline-color: var(--white);
  transition: outline-color 0.5s;
}

.category a:hover,
.category a:focus {
  outline: 2px solid;
  outline-color: #2c302e94;
}

.post-title:link,
.post-title:visited {
  color: var(--black);
  text-decoration: none;

  background-image: linear-gradient(to right, var(--black), var(--black), #49aae5, #7c66d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-position: top left;
  text-shadow: none;

  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.post-title:hover,
.post-title:focus {
  text-shadow: none;
  background-position: top left 100%;
}

.link-body:link,
.link-body:visited {
  color: var(--black);
  text-decoration: none;

  background-image: linear-gradient(to right, var(--black), var(--black), #3982af, #4c34b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-position: top left;
  text-shadow: none;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.link-body:hover,
.link-body:focus {
  text-shadow: none;
  background-position: top left 100%;
}

.gradient-text
{
  background-image: linear-gradient(to right, #49aae5, #7c66d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  background-size: 100% 100%;
  background-position: top left 100%;
}